body {
  background: #EAEAEA;
}
body {
  height: 90%;
  font-family: 'DINLight';
}

.loading {
  background: #EAEAEA;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 0;
}

.main {
  min-height: 100%;
  min-width: 100%;
}

h1 {
  margin: 5%;
  text-align: center;
  font-size: 48pt;
}

h2 {
  width: 100%;
  text-align: center;
  font-family: 'DINLight';
  font-size: 32pt;
}

.toggle-container {
  display: flex;
  font-size: 32pt;
  align-items: center;
  justify-content: center;
}

.toggle-container > img {
  margin: 5%;
}